*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --primary-Strong-Cyan: hsl(171, 66%, 44%);
   --primary-Light-Blue: hsl(233, 100%, 69%);

   --neutral-Dark-Grayish-Blue: hsl(210, 10%, 33%);
   --neutral-Grayish-Blue: hsl(201, 11%, 66%);
}

body {
   font-size: 16px;
   font-family: "Bai Jamjuree", sans-serif;

   background-image: url(images/bg-header-desktop.png);
   background-repeat: no-repeat;
}

.main {
   margin: 0 15px;
}


/* ------ Header ------*/
.header {
   display: flex;
   align-items: center;
   justify-content: center;

   text-align: center;
   margin: 7.938rem 0 11.25rem;
}

.text__downloads img {
   max-width: 115px;
}

.desc {
   margin-top: 3.125rem;
}
.desc h1{
   font-size: 2.7rem;
   color: var(--neutral-Dark-Grayish-Blue);
}
.desc p {
   font-size: 1.2rem;
   line-height: 1.6;
   color: var(--neutral-Grayish-Blue);

   max-width: 700px;
   margin-top: 0.938rem;
}

/* ------ Header__Button ------*/
.button__downloads {
   margin-top: 3.625rem;
}

.btn__download {
   font-size: 1.1rem;
   font-weight: 600;
   color: white;
   text-decoration: none;
   
   border-radius: 50px;

   padding: 16px 34px;
   margin-right: 20px;

   opacity: 1;
   transition: all .2s ease-in-out;
}
.btn__download:last-child{
   margin-right: 0;
}
.btn__download:hover {
   opacity: .8;
}

.btn1 {
   background-color: var(--primary-Strong-Cyan);
   border-bottom: 3px solid rgba(26, 124, 109, 0.31);
}

.btn2 {
   background-color: var(--primary-Light-Blue);
   border-bottom: 3px solid 	#5767e4;
}

/* ------ info ------ */
.info {
}

.info__text {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.info__text--h2 {
   font-size: 2.2rem;
   color: var(--neutral-Dark-Grayish-Blue);
}

.info__text--p {
   font-size: 1.1rem;
   line-height: 1.6;
   color: var(--neutral-Grayish-Blue);

   max-width: 670px;
   margin-top: 0.938rem;
}

/* ------ info__list ------ */
.info__list {
   display: flex;
   
   margin-top: 85px;
}

.info__list img {
   width: 50%;
}

.list__text {
   margin-bottom: 50px;
   margin: 60px 0 0 6.875rem;
}

.list__text--h3 {
   font-size: 1.4rem;
   color: var(--neutral-Dark-Grayish-Blue);
}

.list__text--p {
   font-size: 1rem;
   line-height: 1.8;

   margin-top: 5px;
   max-width: 334px;

   color: var(--neutral-Grayish-Blue);
}

/* ------ Acess------ */
.acess {
   margin: 7.938rem 0 3.938rem;
}

.how__acess {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   text-align: center;
}

.how__acess--h2 {
   font-size: 2.2rem;
   color: var(--neutral-Dark-Grayish-Blue)
}

.how__acess--p {
   font-size: 1.1rem;
   line-height: 1.8;

   margin-top: 1.375rem;
   max-width: 40.625rem;

   color: var(--neutral-Grayish-Blue);
}

.how__acess img {
   margin-top: 6.875rem;
   max-width: 70%;
}

/* ------ supercharge------ */
.supercharge {
   display: flex;
   align-items: center;
   justify-content: center;

   text-align: center;
}

.demo__text--h2 {
   font-size: 2.2rem;
   color: var(--neutral-Dark-Grayish-Blue)
}

.demo__text--p {
   font-size: 1.1rem;
   color: var(--neutral-Grayish-Blue);

   margin-top: 1.375rem;
}

/* ------ supercharge__demo_cards------ */
.demo__cards {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;

   margin-top: 80px;
}

.card{
   margin-right: 1.875rem;
}
.card:last-child{
   margin-right: 0;
}

.card__h3 {
   font-size: 1.5rem;

   margin-top: 36px;
   color: var(--neutral-Dark-Grayish-Blue)
}

.card__p {
   font-size: 1rem;
   color: var(--neutral-Grayish-Blue);
   line-height: 1.7;

   margin-top: 0.875rem;
   max-width: 21.5rem;
}

/* ------ supercharge__demo_company ------ */
.demo__company {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;

   text-align: center;
   margin-top: 170px;
}

.compay__card {
   margin-right: 90px;
}
.compay__card:last-child {
   margin-right: 0;
}