*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-size: 16px;
   font-family: "Poppins", sans-serif;
}

:root{
   --primary-Violet: hsl(257, 40%, 49%);
   --primary-Soft-Magenta: hsl(300, 69%, 71%);
}

body {
   background-color: var(--primary-Violet);
   background-image: url(images/bg-desktop.svg);
   background-size: center;
   background-repeat: no-repeat;
   height: 100vh;
}

/* ------ Header ------ */
.header {
   padding: 2.813rem 4.063rem;
}

.header img {
   max-width: 13.125rem;
}

/* ------ Container ------ */
.container {
   display: flex;
   margin: 2.5rem 4.063rem;
}

.desc {
   display: flex;
   flex-direction: column;
   /* align-items: center; */

   max-width: 28.75rem;

   margin-left: 45px;
   margin-top: 45px;
}

.desc__h1 {
   font-size: 2.5rem;
   font-weight: bold;

   color: white;

   /* max-width: 27.438rem; */
}

.desc__p {
   font-size: 1rem;
   font-family: "Open Sans",sans-serif;
   line-height: 1.7;

   margin-top: 1.563rem;
   
   color: white;
}

.desc__btn {
   font-size: 1rem;
   color: var(--primary-Violet);
   background-color: white;

   max-width: 180px;
   padding: 14px 0;
   margin-top: 20px;
   
   border-radius: 30px;

   outline: none;
   border: none;
   cursor: pointer;

   transition: all .2s ease-in-out;
   box-shadow: -1px 0px 18px -6px rgba(0,0,0,0.75);

}

.desc__btn:hover {
   color: white;
   background-color: var(--primary-Soft-Magenta);
}

/* ------ Redes ------ */
.redes-sociais {
   display: flex;
   justify-content: flex-end;
   align-items: center;

   margin-right: 95px;
}

.redes-sociais a > i{
   width: 50px;
}