*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-size: 16px;
   font-family: "Spartan", sans-serif;
}

:root {
   --primary-Dark-Magenta: hsl(300, 43%, 22%);
   --primary-Soft-Pink: hsl(333, 80%, 67%);
   --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
   --Light-Grayish-Magenta: hsl(300, 24%, 96%);
   --White: hsl(0, 0%, 100%);
}

body {
   display: flex;
   align-items: center;
   justify-content: center;

   height: 100vh;
   background-color: rgb(236, 236, 236);
}

.container {
   background-color: var(--White);
   padding: 80px 4.5rem;

   width: 90vw;
   position: relative;
}

/* ------ Users ------ */
.users {
   display: flex;
   justify-content: space-between;
}

/* ------ Users__header ------ */
.users__header--h1 {
   font-size: 3.1rem;
   font-weight: bold;

   color: var(--primary-Dark-Magenta);

   width: 404px;
}

.users__header--p {
   font-size: 1rem;
   line-height: 1.7;

   margin-top: 5px;

   width: 479px;
   color: var(--Dark-Grayish-Magenta);
}
/* ------ users__feedback ------*/
.users__feedback {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   /* width: 0%; */

   /* position: absolute;
   right: 0; */
}

.feedback__star {
   display: flex;
   background-color: var(--Light-Grayish-Magenta);
   
   margin-bottom: 14px;
   padding:  16px 66px 16px 25px;

   border-radius: 8px;
   margin-left: auto;
}

.star__image {
   word-spacing: 0.2rem;
   margin-right: 1rem;
}
.star__image img {
   width: 0.8rem;
}

.feedback__star--p {
   font-size: 0.8rem;
   font-weight: bold;

   color: var(--primary-Dark-Magenta);
}

.feedback__star:first-child{
   margin-right: 80px;
}

.feedback__star:nth-child(2) {
   margin-right: 40px;
   padding-right: 40px;
}