*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-size: 16px;
   font-family: "Spartan", sans-serif;
}

:root {
   --primary-Very-Dark-Magenta: hsl(300, 43%, 22%);
   --primary-Soft-Pink: hsl(333, 80%, 67%);
   --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
   --Light-Grayish-Magenta: hsl(300, 24%, 96%);
   --White: hsl(0, 0%, 100%);
}

body {
   display: flex;
   align-items: center;
   justify-content: center;

   background-color: rgb(235, 235, 235);
   height: 100vh;
   padding: 0 45px;
}

.container {
   background-color: var(--White);
   /* max-width: 1050px; */

   padding: 80px 110px;
}

/* ------ Users ------ */
.users{
   display: flex;
   justify-content: space-between;
}

.users__header--h1 {
   font-size: 3rem;
   font-weight: bold;

   width: 391px;

   color: var(--primary-Very-Dark-Magenta);
}

.users__header--p {
   font-size: 0.9rem;
   line-height: 1.6;

   margin-top: 8px;

   width: 431px;
   color: var(--Dark-Grayish-Magenta);
}

/* ------ users__feedback ------ */
.users__feedback {
   display: flex;
   flex-direction: column;
   align-items: center;

   width: 410px;

}


.feedback__star{
   display: flex;
   
   margin-bottom: 15px;
   padding: 16px 28px;   

   width: 410px;
   border-radius: 8px;

   background-color: var(--Light-Grayish-Magenta);
}

.feedback__star:last-child {
   margin-bottom: 0;
}

.star__image{
   margin-right: 22px;
}
.star__image img{
   width: 0.8rem;
}

.feedback__star--p{
   font-size: 0.8rem;
   font-weight: bold;

   color: var(--primary-Very-Dark-Magenta);
}

.star1 {
   margin-right: 190px;
}

.star2 {
   margin-right: 100px;
}


.star3 {
   margin-right: 0;
}

/* ------ People ------ */
.people {
   display: flex;
   align-items: center;

   margin-top: 35px;
}

.cards {
   padding: 27px 35px;

   border-radius: 8px;
   margin-right: 20px;

   background-color: var(--primary-Very-Dark-Magenta);
}

.cards:last-child {
   margin-right: 0px;
}

.cards__name {
   display: flex;
   align-items: center;
}
.cards__name img {
   width: 40px;
   border-radius: 50%;
   display: flex;

   margin-right: 28px;
}

.cards__name--p {
   font-size: 0.8rem;
   font-weight: bold;
   line-height: 0.5;
   
   width: 108px;
   color: var(--White);

   margin-bottom: 15px;
}

.cards__name--p span {
   font-size: 0.8rem;
   font-weight: bold;

   color: var(--primary-Soft-Pink);
}

.cards p {
   margin-top: 15px;

   font-size: 0.8rem;
   font-weight: 500;
   line-height: 2;

   color: var(--White);
}

.cards2 {
   margin-top: 50px;
}
.cards3 {
   margin-top: 100px;
}


@media (max-width: 375px) {   
   body {
      height: auto;
      width: auto;
      padding: 0;
   }
   
   /* ------ Container ------ */

   
}