*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h1 {
   font-size: 2.5rem;
   line-height: 1.5;
   color: var(--neutral-Very-Dark-Cyan);
   max-width: 431px;
}

p{
   font-size: 1.1rem;
   color: var(--neutral-Very-Dark-Cyan);
}

:root {
   --primary-Pink: hsl(322, 100%, 66%);

   --neutral-Very-Pale-Cyan: hsl(193, 100%, 96%);
   --neutral-Very-Dark-Cyan: hsl(192, 100%, 9%);
   --neutral-Grayish-Blue: hsl(208, 11%, 55%);
}

body {
   font-size: 16px;
   font-family: "Open Sans",sans-serif;
}

/* ------ huddle ------ */
.huddle {
   background-image: url(images/bg-hero-desktop.svg);
   background-repeat: no-repeat;
   background-size: center;
   background-color: var(--neutral-Very-Pale-Cyan);

   padding: 3.438rem 4.875rem;
}

.huddle__header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.huddle__header img {
   max-width: 180px;
}

.huddle__header a {
   font-size: 0.9rem;
   font-weight: bold ;
   text-decoration: none;
   color: var(--neutral-Very-Dark-Cyan);

   padding: 13px 62px;
   border-radius: 50px;
   box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.05);

   background-color: white;
}

/* ------ .huddle__content ------ */
.huddle__content {
   display: flex;
   margin-top: 4.875rem;
}

.content__text {
   margin-top: 5.625rem;
}

.content__text--p {
   margin-top: 30px;
   max-width: 88%;
}

.content__text--a {
   margin-top: 50px;
}

.content__text a {
   font-size: 0.813rem;
   font-weight: bold;
   text-decoration: none;

   color: white;
   
   padding: 1rem 4.688rem;
   border-radius: 50px;

   background-color: var(--primary-Pink);
}

.huddle__content  img {
   max-width: 54.4%;
}

.social__media svg {
   max-width: 5px;
}