*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --primary-Pink: hsl(322, 100%, 66%);

   --neutral-Very-Pale-Cyan: hsl(193, 100%, 96%);
   --neutral-Very-Dark-Cyan: hsl(192, 100%, 9%);
   --neutral-Grayish-Blue: hsl(208, 11%, 55%);
}

body {
   font-size: 16px;
   font-family: "Open Sans",sans-serif;
}

/* ------ huddle ------ */
.huddle {
   background-image: url(images/bg-hero-desktop.svg);
   background-repeat: no-repeat;
   background-size: center;
   background-color: var(--neutral-Very-Pale-Cyan);

   padding: 38px 78px;
}


.social__media svg {
   max-width: 5px;
}