*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-size: 16px;
   font-family: "Barlow Semi Condensed", sans-serif;
}

:root {
   --primary-Moderate-violet: hsl(263, 55%, 52%);
   --primary-Very-dark-grayish-blue: hsl(217, 19%, 35%);
   -primary-Very-dark-blackish-blue: hsl(219, 29%, 14%);
   --primary-White: hsl(0, 0%, 100%);

   --neutral-Light-gray: hsl(0, 0%, 81%);
   --neutral-Light-grayish-blue: hsl(210, 46%, 95%);
}

body {
   display: flex;
   align-items: center;
   justify-content: center;

   background-color: var(--neutral-Light-grayish-blue);
   height: 100vh;
}

.container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 25px;
   grid-template-areas: 
   "box1 box1 box2 box5"
   "box3 box4 box4 box5"
   ;

   margin: 0 135px;
}

.box1 {
   grid-area: box1;
   padding: 1.769rem;
   border-radius: 8px;
}

.box2 {
   grid-area: box2;
   padding: 1.769rem;
   border-radius: 8px;
}

.box3 {
   grid-area: box3;
   padding: 1.769rem;
   border-radius: 8px;
}

.box4{
   grid-area: box4;
   padding: 1.769rem;
   border-radius: 8px;
}

.box5 {
   grid-area: box5;
   padding: 1.769rem;
   border-radius: 8px;
}

/* ------ Global ------ */
.global__name {
   display: flex;
   align-items: center;
}

.global__name img {
   max-width: 32px;
   
   margin-right: 0.938rem;

   border-radius: 50%;
}

/* ------ Box1 ------ */

.box1 {
   background-image: url(images/bg-pattern-quotation.svg);
   background-repeat: no-repeat;
   background-position: right 102px top ;
   
   background-color: var(--primary-Moderate-violet);
}

.box1__name img {
   border: 2px solid hsl(263, 41%, 63%);
}

.box1__span {
   font-size: 0.9rem;

   color: var(--primary-White);
   max-width: 110px;
}

.box1__span span {
   font-size: 0.8rem;
   color: #A775F1;
}

.box1__desc1 {
   font-size: 1.3rem;
   font-weight: 600;
   color: var(--primary-White);

   max-width: 30.563rem;
   margin-top: 0.875rem;
}

.box1__desc2{
   font-size: 0.9rem;
   color: hsl(263, 54%, 68%);
   /* max-width: 900px */

   margin-top: 1.125rem;
}

/* ------ Box2 ------ */

.box2 {
   background-color: var(--primary-Very-dark-grayish-blue);
}