*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --primary-Red: hsl(0, 78%, 62%);
   --primary-Cyan: hsl(180, 62%, 55%);
   --primary-Orange: hsl(34, 97%, 64%);
   --primary-Blue: hsl(212, 86%, 64%);

   --Very-Dark-Blue: hsl(234, 12%, 34%);
   --Grayish-Blue: hsl(229, 6%, 66%);
   --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
}

.container {
   height: 100vh;

   padding: 4.25rem 8.75rem;
}

/* ------ Header ------ */
.header {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header__h1{
   font-size: 2.2rem;
   font-weight: 200;
   color: var(--Grayish-Blue);

   max-width: 27.688rem;
}
.header__h1 span {
   font-size: 2.2rem;
   font-weight: 600;
   color: var(--Very-Dark-Blue);
}

.header__p {
   font-size: 1rem;
   text-align: center;

   margin-top: 0.938rem;
   max-width: 34.375rem;

   color: var(--Grayish-Blue);
}

/* ------ Section ------ */